.preview-image {
    float: left; /* 이미지를 왼쪽으로 떠 있게 설정 */
    margin-right: 10px; /* 이미지와 제목 사이의 간격 */
    opacity: 0.5; /* 흐릿하게 만들기 */
    transition: opacity 0.3s; /* 마우스 오버 시 부드럽게 변화 */
  }
  
  .preview-image img {
    width: 50px;
    height: 50px;
  }
  