.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper {
    width: 821px;
    height: 676px;
    background: #FFF5E8;
    border-radius: 20px;
    border: 1px #E4A656 solid;

    display: flex;
    align-items: center;
}

.wrapper h1 {
    text-align: center;
    font-size: 36px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.input-box {
    width: 50%;
    height: 10px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    background-color: #E4A656;
    font-size: 16px;
    color: #fff;

}

.input-box input::placeholder {
    color: #fff;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: 0 -50%;
    font-size: 16px;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

form .register-link {
    font-size: 14.5px;
    text-align: center;

}

.register-link p a {
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}